<div class="pin" ng-show="data">
	<label>Id:</label>
	<input type="text" ng-model="data.id"/>
	<label>Port number:</label>
	<input type="number" ng-model="data.data.gpioPort"/>
	<label ng-show="showPin()">I/O:</label>
	<select ng-model="data.data.io" ng-show="showPin()">
		<option value="output">Output</option>
      	<option value="input">Input</option>
	</select>
	<label>Start:</label>
	<input type="checkbox" ng-model="data.meta_data.start"/>
	<label>End:</label>
	<input type="checkbox" ng-model="data.meta_data.end"/>
	
	<div>
		<label>Exports:</label>
		<div ng-repeat="export in data.data.out">
			<label>{{export.target}}</label>
			<div ng-repeat="(key, value) in export.export">
				<select ng-change="updateExports">
					<option ng-repeat="o in exportOptions" value="{{o}}" selected="o == key">{{o}}</option>
				</select>
				-->
				<select ng-change="updateExports">
					<option ng-repeat="o in inputOptions(export.target)" value="{{o}}" selected="o == value">{{o}}</option>
				</select>
			</div>
		</div>
		<button ng-click="addExport()">Add export</button>
	</div>
</div>