<div class="pin" ng-show="data">
	<label>Id:</label>
	<input type="text" ng-model="data.id"/>
	<label>Port number:</label>
	<input type="number" ng-model="data.data.gpioPort"/>
	<label ng-show="showPin()">I/O:</label>
	<select ng-model="data.data.io" ng-show="showPin()">
		<option value="output">Output</option>
      	<option value="input">Input</option>
	</select>
	<label>Start:</label>
	<input type="checkbox" ng-model="data.meta_data.start"/>
	<label>End:</label>
	<input type="checkbox" ng-model="data.meta_data.end"/>
	
	<div ng-show="showExports()">
		<label>Exports:</label>
		<div ng-repeat="export in data.data.out">
			<select class="exportKey" ng-model="export.target" ng-options="item as item for item in getOutputIds() track by item"></select>
			
			<div class="{{export.target}}" ng-repeat="(key, value) in export.export">
				<select class="exportKey" ng-model="export.targetKey" ng-model-options="{ getterSetter: true }" ng-options="item as item for item in exportOptions track by item"></select>
				-->
				<select class="exportValue" ng-model="export.targetValue" ng-model-options="{ getterSetter: true }" ng-options="item as item for item in inputOptions(export.target) track by item"></select>
			</div>
			
			<button ng-click="removeExport(export)">Remove</button>
		</div>
		<button ng-click="addExport()">Add export</button>
	</div>
</div>