<!DOCTYPE html>
<html lang="en" ng-app="raspikidsApp">
<head>
<title>RaspiKids</title>

<script src="../bower_components/angular/angular.min.js"></script>

<script>
app = angular.module('raspikidsApp', []);
</script>

<script src="services/ElementService.js"></script>
<script src="services/WorkflowService.js"></script>
<script src="directives/elementForm.js"></script>
<script src="controllers/ElementFormCtrl.js"></script>
<script src="controllers/MenuController.js"></script>
<script src="controllers/DrawWFController.js"></script>

<style type="text/css">
g,g text {
	cursor: pointer;
}

circle.end {
	fill: #D94747;
}

circle.start {
	fill: #56D947;
}

circle {
	fill: #E8E8E8;
}

circle.selected {
	fill: #FFFACF;
}

line {
	stroke: rgb(6, 120, 155);
}

.link {
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
	-webkit-svg-shadow: 0 1px 0 #fff;
}

div.wfHolder {
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

div.menu {
	position: absolute;
	z-index: 1000;
}
</style>
</head>
<body>
	<div class="selectedData" ng-controller="ElementFormCtrl">
		<element-form data="selectedItem"></element-form>
	</div>
	<div class="menu" ng-controller="MenuController">
		<input id="start_btn" ng-click="start()" type="button" value="Start" />
		<input id="save_btn" ng-click="save()" type="button" value="Save" />
		<ul id="allWorkflows">
			<li ng-repeat="d in data" ng-click="loadWorkflow(d)">{{d}}</li>
		</ul>
	</div>
	<div class="wfHolder" ng-controller="DrawWFController">
		<svg id="graph">
		</svg>
	</div>
</body>
</html>